.header {
    width: 100%;

    &__bloc {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 20px 0px 20px;

        @media screen and (min-width: 768px) {
            margin: 40px 100px 0px 100px;
        }

        a {
            text-decoration: none !important;
        }
    }

    &__logo {
        width: 145px;
    }

    &__link {
        &-list {
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-end;
            margin: 0px 0px;
        }

        &-element {
            position: relative;
            @include fonts500Color;
            font-size: 12px;
            text-transform: uppercase;
            white-space: nowrap;
            padding: 2px 0px;
            list-style: none;
            margin-left: 10px;

            @media screen and (min-width: 768px) {
                text-transform: none;
                font-size: 24px;
                margin-left: 57px;
            }
        }
    }
}

.active ::after {
    content: "";
    position: absolute;
    width: 100%;
    top: 82%;
    left: 0;
    border-bottom: solid 1px $primary-color;
}