@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap");
main {
  margin: auto;
  list-style: none;
}

.header {
  width: 100%;
}
.header__bloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px 0px 20px;
}
@media screen and (min-width: 768px) {
  .header__bloc {
    margin: 40px 100px 0px 100px;
  }
}
.header__bloc a {
  text-decoration: none !important;
}
.header__logo {
  width: 145px;
}
.header__link-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px 0px;
}
.header__link-element {
  position: relative;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: #FF6060;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 2px 0px;
  list-style: none;
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .header__link-element {
    text-transform: none;
    font-size: 24px;
    margin-left: 57px;
  }
}

.active ::after {
  content: "";
  position: absolute;
  width: 100%;
  top: 82%;
  left: 0;
  border-bottom: solid 1px #FF6060;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 209px;
  background-color: black;
  margin: auto;
}
.footer__image {
  padding-top: 66px;
}
.footer__text {
  font-family: Montserrat, arial, helvetica, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: white;
  vertical-align: bottom;
  margin-bottom: 29px;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 20px 0px 20px;
}
@media screen and (min-width: 768px) {
  .banner {
    margin: 63px 100px 0px 100px;
  }
}
.banner__background {
  display: flex;
  position: relative;
  width: 100%;
  height: 111px;
  border-radius: 10px;
}
@media screen and (min-width: 768px) {
  .banner__background {
    height: 223px;
    width: 100%;
    border-radius: 25px;
  }
}
.banner__background.about__style {
  height: 223px;
  width: 100%;
}
.banner__background::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  border-radius: inherit;
  opacity: 30%;
  z-index: 0;
}
.banner__img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: inherit;
}
.banner__img.about__style {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}
.banner__title {
  position: absolute;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  left: 0;
  top: 50%;
  translate: 0 -50%;
  margin: auto;
  padding-left: 16px;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 24px;
  font-weight: 500 !important;
  text-align: left;
  line-height: 22px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .banner__title {
    width: 100%;
    font-size: 48px;
    line-height: 48px;
    justify-content: center;
    padding-left: 0px;
    gap: 8px;
  }
}

.a-propos__banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 20px 0px 20px;
}
.a-propos__banner__background {
  display: flex;
  position: relative;
  height: 223px;
  width: 100%;
  border-radius: 10px;
}
.a-propos__banner__background::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  border-radius: 10px;
  opacity: 30%;
  z-index: 0;
}
.a-propos__banner__img {
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.hostCards__board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 20px;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .hostCards__board {
    margin: 43px 100px 20px;
    background-color: #F6F6F6;
    max-width: 100%;
    border-radius: 25px;
    justify-content: space-around;
    margin: 43px 100px 20px;
    padding: 31px 25px;
  }
}
@media screen and (min-width: 768px) {
  .hostCards__board__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.hostCard__link {
  height: 255px;
  width: 100%;
  margin: 20px 20px 0 20px;
}
@media screen and (min-width: 768px) {
  .hostCard__link {
    max-width: 340px;
    height: 340px;
    margin: 25px;
  }
}
.hostCard__article {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.hostCard__article::after {
  content: "";
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  border-radius: 10px;
}
.hostCard__img {
  position: relative;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hostCard__title {
  position: absolute;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
  vertical-align: bottom;
  line-height: 26px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  margin: 0;
  z-index: 1;
}

.carousel__block {
  margin-top: 20px;
}

.details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 10px;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: #FF6060;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .details {
    margin: 24px 100px 0 100px;
    flex-wrap: nowrap;
  }
}
.details__lodge-tags {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .details__lodge-tags {
    margin-top: 23px;
  }
}
.details__owner {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}
@media screen and (min-width: 768px) {
  .details__owner {
    width: 200px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: start;
    margin-top: 0px;
  }
}

.collapse__property-section {
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .collapse__property-section {
    display: flex;
    margin: 30px 100px 20px;
  }
}

.gallery {
  position: relative;
  display: flex;
  margin: auto;
  margin: 0 20px;
  height: 255px;
}
@media screen and (min-width: 768px) {
  .gallery {
    height: 415px;
    margin: 0 100px;
  }
}
.gallery__image {
  width: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    border-radius: 25px;
  }
}
.gallery__arrows {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 96%;
  left: 50%;
  top: 38%;
  translate: -50% 0%;
}
@media screen and (max-width: 767px) {
  .gallery__leftArrow, .gallery__rightArrow {
    height: 19.8px;
  }
}
.gallery__counter {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .gallery__counter {
    display: none;
  }
}

.details__owner-data {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}
.details__owner-name {
  width: 60px;
  font-size: 12px;
  margin-right: 10px;
  text-align: right;
}
@media screen and (min-width: 768px) {
  .details__owner-name {
    font-size: 18px;
    width: 90px;
  }
}
.details__owner-name p {
  margin: 0;
  padding: 3px;
}
.details__owner-pic {
  display: inline-block;
  height: 32px;
  width: 32px;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .details__owner-pic {
    height: 64px;
    width: 64px;
  }
}

.details__lodge-title {
  font-weight: inherit;
  font-size: 18px;
  margin: 10px 0px 0px;
  line-height: 20px;
}
@media screen and (min-width: 768px) {
  .details__lodge-title {
    font-weight: inherit;
    font-size: 36px;
    margin: 10px 0px;
    line-height: 35px;
  }
}
.details__lodge-location {
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .details__lodge-location {
    font-size: 18px;
    line-height: 30px;
  }
}

.details__rating {
  display: flex;
  align-items: center;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .details__rating {
    margin: 24px 3px 0px 0px;
  }
}
.details__ratingStar-img {
  margin-left: 5px;
}
@media screen and (max-width: 767px) {
  .details__ratingStar-img {
    height: 15px;
  }
}
@media screen and (min-width: 768px) {
  .details__ratingStar-img {
    margin-left: 10px;
  }
}

.collapse {
  display: block;
  margin: 20px;
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .collapse {
    margin: 33px 38px 38px;
  }
}
@media screen and (min-width: 768px) {
  .collapse.property {
    width: 100%;
    margin: 33px 0 38px;
  }
}
.collapse.translate {
  margin-top: 11px;
}
@media screen and (min-width: 768px) {
  .collapse.translate {
    margin-top: 21px;
  }
}
.collapse__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: #FF6060;
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  .collapse__box {
    height: 47px;
  }
}
.collapse__box.translate {
  position: relative;
  top: 9px;
  margin-top: 3px;
}
.collapse__title {
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 13px;
  padding-left: 11px;
}
@media screen and (min-width: 768px) {
  .collapse__title {
    font-size: 24px;
    padding-left: 18px;
  }
}
.collapse__image {
  padding-right: 6.79px;
}
@media screen and (max-width: 767px) {
  .collapse__image {
    height: 8.98px;
    width: 15.2px;
  }
}
@media screen and (min-width: 768px) {
  .collapse__image {
    padding: 0 33px;
  }
}
.collapse__image.rotate {
  rotate: 180deg;
  padding-left: 6.79px;
}
.collapse__details-box {
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  height: calc(100% - 33px);
  border-radius: 5px;
  background-color: #F6F6F6;
}
.collapse__details-text {
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: #FF6060;
  font-weight: 400;
  font-size: 12px;
  padding: 23px 6px 23px 11px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .collapse__details-text {
    font-size: 24px;
    padding: 36px 27px 19px 18px;
  }
}

.tag {
  height: 18px;
  min-width: 84px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 5px;
  background-color: #FF6060 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
@media screen and (min-width: 768px) {
  .tag {
    height: 25px;
    min-width: 100px;
    border-radius: 10px;
    margin-right: 10px;
  }
}
.tag__name {
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: white;
  font-weight: 500;
  font-size: 10px;
  padding: 0 20px;
  margin: 0;
  white-space: nowrap;
}
@media screen and (min-width: 768px) {
  .tag__name {
    font-size: 14px;
    padding: 0 30px;
  }
}

ul {
  padding: 0;
}

.collapse__about-section {
  margin-top: 4px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .collapse__about-section {
    margin: 0px 62px;
  }
}

.error404 {
  text-align: center;
  font-family: Montserrat, arial, helvetica, sans-serif;
  color: #FF6060;
  font-weight: 500;
}
.error404__title {
  font-weight: 700;
  font-size: 96px;
  height: 99px;
  margin-top: 169px;
}
@media screen and (min-width: 768px) {
  .error404__title {
    font-size: 288px;
  }
}
.error404__subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 52px;
  gap: 5px;
  font-size: 18px;
  font-weight: 500 !important;
  margin-left: 20px;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .error404__subtitle {
    font-size: 36px;
    margin-top: 66px;
  }
}
.error404__link {
  font-size: 14px;
  margin-top: 133px;
  margin-bottom: 159px;
  color: #FF6060 !important;
  -webkit-text-decoration-color: #FF6060;
          text-decoration-color: #FF6060;
}
@media screen and (min-width: 768px) {
  .error404__link {
    margin-top: 182px;
  }
}

* {
  list-style: none;
}

body {
  width: 100%;
}/*# sourceMappingURL=index.css.map */