.hostCards {

    &__board {
       padding: 20px;
        margin: 0 0 20px;
        list-style: none;

        @media screen and (min-width: 768px) {
            ul.hostCards__list{
                display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
            }
            margin: 43px 100px 20px;
            background-color: #F6F6F6;
            max-width: 100%;
            border-radius: 25px;
            
            justify-content: space-around;
            margin: 43px 100px 20px;
            padding: 31px 25px;
        }
    }
};