.hostCard {
    &__link {
        height: 255px;
        width: 27%;
        margin: 20px 20px 0 20px;

        @media screen and (min-width: 768px) {
            max-width: 340px;
            height: 340px;
            margin: 25px;
        }
    }

    &__article {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 10px;


        &::after {
            content: "";
            z-index: 0;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background: $cardGradient;
            border-radius: 10px;
        }
    }

    &__img {
        position: relative;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;

    }

    &__title {
        position: absolute;
        @include fonts500White;
        font-size: 18px;
        vertical-align: bottom;
        line-height: 26px;
        left: 20px;
        bottom: 20px;
        right: 20px;
        margin: 0;
        z-index: 1;
    }
};